main section {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

main section article {
  width: 27%;
  height: 90%;
  min-width: 400px;

  padding: 3em;

  border-radius: 0.5em;

  background-color: #ffffff;

  z-index: 1;
}

main section article h2 {
  font-size: 2em;
  font-weight: bold;

  margin-bottom: 0.5em;
}

main section article p {
  font-size: 1.1em;
  line-height: 1.9em;
}
